html, body {
    background-color: #18121D;
}

#header {
    background-color: #18121D;
    padding-left: 40px;
}

#menu {
    background-color: #5D4966;
    margin-bottom: -1px;
    border-width: 0;
    border-radius: 0;
}

#menutext {
    color:#C39EBC;
    text-decoration-style: double;
    font-weight: bold;
}


.navbar ul  {
    margin-left: 300px;

}

#textbox {
    padding-top: 50px;
}

#textruta {
    margin-left: 540px;
}

#activemenutext {
    background-color:#C39EBC;
    color:#18121D;
    text-decoration-style: double;
    font-weight: bold;
}