html, body {
    background-color: #18121D;
}

#header {
    background-color: #18121D;
    padding-left: 40px;
    text-align: center;
}

#menu {
    background-color: #5D4966;
    margin-bottom: 30px;
    border-width: 1px;
    border-radius: 10px;
    border-color: #C39EBC;

}

#menutext {
    color:#C39EBC;
    text-decoration-style: double;
    font-weight: bold;
}

}

#textbox {
    padding-top: 50px;
    border-width: 1px;
    border-color: #C39EBC;
}

#textruta {


}

#activemenutext {
    background-color:#C39EBC;
    color:#18121D;
    text-decoration-style: double;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    color:#C39EBC;
    text-align: center
}

.item {
    margin-left: 0px;
    opacity: 0.8;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

